<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<h2>Comments</h2>
<%= form_with(model: [@post, @post.comments.build], local: true) do |form| %>
  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <div class="actions">
    <%= form.submit 'Add Comment' %>
  </div>
<% end %>

<ul>
  <% @post.comments.each do |comment| %>
      <% if comment.persisted? %>
        <li id="<%= dom_id(comment) %>">
          <%= comment.body %>
          <%= link_to 'Delete',
            [comment.post, comment],
            data: {
              turbo_method: :delete,
              turbo_confirm: 'Are you sure?'
            },
            class: "text-red-500 hover:underline"
          %>
        </li>
      <% end %>
  <% end %>
</ul>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
