<!DOCTYPE html>
<html>
  <head>
    <title>MicroReddit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "kaminari", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 text-gray-900">
    <%= render 'shared/header' %>

    <main class="container mx-auto mt-10 px-5">
      <turbo-frame id="flash-messages">
        <%= render 'shared/flash_messages' %>
      </turbo-frame>

      <div class="grid grid-cols-1 lg:grid-cols-5 gap-4">
        <%= render 'shared/nav' %>
        <section class="col-span-4">
          <%= yield %>
        </section>
      </div>
    </main>
  </body>
</html>
